body{
    background: linear-gradient(rgb(100,50,50), rgb(80,20,20)) no-repeat;
    color: white;
    text-align: center;
}

img{
    margin: 1%;
}

#more {display: none;}
body {
  background-color: skyblue;
}

@media only screen and (max-width: 375px) {               
  body {
    background-color: lightblue;                     
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
  }
}

.left {
  background-color:#2196F3;
  padding:20px;
  float:left;
  width:20%; /* width 20%, by default */
}



.right {
  background-color:#4CAF50;
  padding:20px;
  float:left;
  width:20%; /*width 20%, by default */
}


.fade-in{
  -webkit-animation: fade-in 2s ease;
  -moz-animation: fade-in ease-in-out 2s both;
  -ms-animation: fade-in ease-in-out 2s both;
  -o-animation: fade-in ease-in-out 2s both;
  animation: fade-in 2s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;

}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}

.highlight {
     padding:1px 4px;
     margin:0 -4px;
}